.body {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}
.title {
    text-align: center;
}

.main {
    color: green;
    text-align: center;
}

.valor {
    margin: 20%;
}

.escreve {
    padding: 5px;
    border: none;
    margin-bottom: 20px;
}